p>code {
   visibility: hidden; 
   margin-left: 1.5em;
}

 h6, .clear-both{
   visibility: hidden;
   width: 0;
   height: 0;
   clear: both;
   margin: 0;
   padding: 0;
 }


 .uk-section-muted {
  background-color: lightsteelblue;
 }

 em {
  color: #FF7C2F;
}

