nav.uk-navbar-container.uk-navbar{
  background-image: url(/img/eagle.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.uk-navbar-nav>li>a {
  font-size: large;
    font-weight: 600;
}

p>code {
   visibility: hidden; 
   margin-left: 1.5em;
}

 h6, .clear-both{
   visibility: hidden;
   width: 0;
   height: 0;
   clear: both;
   margin: 0;
   padding: 0;
 }


 .uk-section-muted {
  background-color: lightsteelblue;
 }

em {
  color: #FF7C2F;
}

.uk-alert-primary,
body > div.uk-sticky.uk-sticky-fixed > nav {
  box-shadow: 0 14px 25px rgba(0,0,0,.16);
}

body,html {
  scroll-padding-top: 100px; /* height of sticky header */
}

h2,h3,h4,h5 {
  transition: background-color 1000ms; 
}
:target {
  background-color: hsl(22deg 100% 85%);
}