nav.uk-navbar-container.uk-navbar{
  background-color: #c5d6e8;}

nav.uk-navbar-container.uk-navbar  li:hover {
  background-color: #d8eafc;
  }

.uk-navbar-nav > li.uk-active {
  background-color: #dbe5f0;
}

.uk-navbar-nav > li.chevron-down {
  border-width: 3px 2px 0;
  border-style: solid;
  border-color:  #dbe5f0;
}

.uk-subnav-pill>.uk-active>a {
  background-color: #dbe5f0;
  /* color: #333; */
}