---
---

#main-space
    display: grid
    grid-auto-flow: dense
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr
    grid-template-areas: "empty1 logo logo logo empty2"
    grid-gap: 10px 10px
    justify-items: stretch 

#top-logo
    grid-area: logo

img
    width: 100%

.dblock
    // border: solid 1px black
    // display: flex
    justify-content: center
    text-align: center

@for $i from 1 through 5
    .col-#{$i}
        grid-column: $i