---
---

#main-space
    display: grid
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr
    grid-gap: 10px 10px
    justify-items: stretch 

dblock
    border: solid 1px black
    display: flex
    justify-content: center