---
---

$main-color: #6d3df8
$bg-color: white
$sub-nav-color: $bg-color

nav
    &#main
        position: sticky
        top: 0
        $color: white
        color: $color
        background-color: $main-color

        li:hover
            background-color: darken($main-color,20%)
        a
            color: $color


    &#sub        
        background-color: $bg-color

        li
            border-radius: 10px 10px 0 0
            border: solid 1px black            
            flex-grow: 1
            text-align: center
            background-color: darken($bg-color,10%)
        
            &.act
                border-bottom: none
                background-color: $bg-color


            &:hover
                background-color: darken($bg-color,30%)

            
    ul
        list-style: none
        display: flex
        justify-content: space-around
        padding-inline-start: 0 //
        margin-block-start: 0 //  

        li
            padding: 10px

#callback
    text-align: center
    font-stretch: bold