---
---

$main-color: #98b8e1
$bg-color: white
$sub-nav-color: $bg-color

nav
    &#main
        position: sticky
        top: 0
        $color: white
        color: $color
        background-color: $main-color

        li.act
            color: $main-color
            background-color: $color
            pointer: default
        a
            color: $color            

        li:hover:not(.act)
            background-color: darken($main-color,20%)
        


    &#sub        
        background-color: $bg-color

        li
            border-radius: 10px 10px 0 0
            border: solid 1px black            
            flex-grow: 1
            text-align: center
            background-color: $bg-color
            

            &:not(.act)
                background-color: darken($bg-color,10%)

                &:hover
                    background-color: darken($bg-color,30%)

        
            &.act
                border-bottom: none      

    ul
        list-style: none
        display: flex
        justify-content: space-around
        padding-inline-start: 0 //
        margin-block-start: 0 //  

        li
            padding: 10px

main
    padding: 10px                   

#callback
    text-align: center
    font-stretch: bold

#top-logo
    text-align: center

    img
        width: 80%

footer
    display: flex
    justify-content: space-around
    background-color: $main-color

    & > div
        flex: 1
        padding: 10px

#footer
    height: 28vw
    background-image: url(/assets/img/footer.jpg)
    background-size: contain
    background-attachment: fixed
    background-position: bottom