<div>
    <a href="{{ include.url }}" class="uk-card uk-card-default uk-card-hover uk-card-small">        
        <div class="uk-card-media-top uk-inline">
            <img src="{{ include.img }}">
            <div class="uk-overlay uk-light uk-overlay-primary uk-position-bottom">
                <h4> {{ include.header }} </h4>
            </div>
        </div>
        {% if include.text %}
            <div class="uk-card-body">    
                <p> {{ include.text }} </p>
            </div>
        {% endif %}        
    </a>
</div>