
{% assign sort_pages = site.pages  | sort: "sortid"  %}
    
        {% for p in sort_pages %}

            {% if forloop.first %}
                {% if page.cat == 1 %}
                    {% assign wideclass = 'uk-child-width-1-3@m' %}
                {%elsif page.cat == 2 %}
                    {% assign wideclass = 'uk-child-width-1-3@m' %}
                {% else %}
                    {% assign wideclass = 'uk-child-width-1-3@m' %}    
                {% endif %}

                <div class="uk-grid-match uk-grid-small uk-child-width-1-1@s {{ wideclass }}  uk-padding uk-flex-around" uk-grid>
            {% endif %}

                {%- if page.sortid == 0 -%}
                    {% if p.sortid != 1.0 and p.sortid != 2.0 and p.sortid != 3.0 %}
                        {% continue %}
                    {% endif %} 
                {%- elsif page.main and page.submenu -%}
                    {% if p.cat != page.cat or p.url == page.url %}
                        {% continue %}
                    {% endif %} 
                {%- endif -%}
                
                <!-- {{ p.title }} -->
                {% capture imgurl %}/img/toplogo/{{ p.sortid }}.jpg{% endcapture %}
                {% include el-card.html url=p.url img=imgurl header=p.title %}          

        {% endfor %}
    </div>      
{% comment %}    

{% endcomment %}
