{%- capture path -%}{{ "/img/" | append: include.name }}{%- endcapture -%}
{%- for file in site.static_files -%}
    {%- if file.path == path -%}
        {%- assign exists=1 -%}
        {% break %}
    {%- endif -%}
{%- endfor -%}
{%- if exists -%}
    {%- assign src=path -%}
{%- else -%}
    {%- assign src="https://dummyimage.com/400x300/00d0db/000000.png&text=file+not+found" -%}
{%- endif -%}
{%- capture class -%}
    {%- unless include.noshadow -%}uk-box-shadow-large,{%- endunless -%}
    {%- if include.align -%}uk-align-{{ include.align }},{%- endif -%}
    {%- if include.width -%}uk-width-{{ include.width | split: '/' | join: '-' }}{%- endif -%}  
{%- endcapture -%}
    <img data-src="{{src}}" alt="" class="{{class | split: ',' | join: ' ' }}" alt="{{ include.alt }}" uk-img>
{%- comment -%}        
{%- endcomment -%}
