<!-- footer -->
<div class="uk-section uk-section-default uk-background-cover" style="background-image: url(/img/footer.jpg)">
    <div class="uk-container uk-text-emphasis uk-link-text" >
        <div class="uk-grid-divider uk-grid uk-child-width-1-3" uk-grid>
            <div class="">  
                    {% include include_md.html file_name="about.md" %}                
            </div>
            
            <div class="">
                {% include include_md.html file_name="sitemap.md" %}
                {% assign sort_pages = site.pages | sort: "sortid" %}
                <ul>
                    {%- for hi in sort_pages -%}
                        {% if hi.main %}
                            <li>
                                <a href="{{ hi.url}}"><nobr>{{ hi.title }}</nobr></a>
                                <ul>
                                    {%- for lo in sort_pages -%}
                                        {% if lo.cat == hi.cat and lo.main != true %}
                                            <li>
                                                <a href="{{ lo.url}}"><nobr>{{ lo.title }}</nobr></a>
                                            </li>
                                        {% endif %}
                                    {%- endfor -%}
                                </ul>                    
                            </li>
                        {% endif %}
                    {%- endfor -%}
                </ul>
            </div>
            
            <div class="">
                {% include include_md.html file_name="contacts.md" %}
            </div>
        </div>
    </div>
</div>
