<div class="" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <img src="/img/eagle.png" width="100">
                </div>
        </div>
        <div class="uk-navbar-center nav-overlay">
            <ul class="uk-navbar-nav">
                {%- assign sort_pages = site.pages | sort: "sortid" -%}
                {%- for p in sort_pages -%}
                    {%- capture upnd_title -%}
                        {% if p.cat == 6.0 %}
                            {{ p.title }} {{ site.data.var.phones[0] }}
                        {% else %}
                            {{ p.title }}
                        {% endif %}
                    {%- endcapture -%}
                    {%- assign menu_title = upnd_title | split: " " -%}
                    {%- if p.main -%}
                        
                        <li {%- if p.url == page.url -%} class="uk-active" {%- endif -%} >                            
                            <a href="{{ p.url }}" class="uk-button-text">
                                <div class="uk-text-center">                                
                                    {%- for line in menu_title -%}
                                        {%- if forloop.first == true -%}
                                            {{ line }}
                                        {%- else -%}
                                            <div class="uk-navbar-subtitle">{{ line }}</div>
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>                                
                                {%- if p.submenu and p.cat == page.cat -%}
                                    <span uk-icon="chevron-down"></span>
                                {%- elsif p.submenu -%}
                                    <span uk-icon="chevron-right"></span>
                                {%- endif -%}

                            </a>
                            {% if p.submenu and p.cat != page.cat %}
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {%- for s in sort_pages -%}
                                            {% if s.main != true and s.cat == p.cat %}
                                                <li>
                                                    <a href="{{ s.url}}" class="uk-button-text">{{ s.title }}</a>
                                                </li>
                                            {% endif %} 
                                        {%- endfor -%}
                                    </ul>
                                </div>                                    
                            {% endif %}
                        </li> 
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>

        <div class="nav-overlay uk-navbar-right">
            <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        </div>
        
        <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>    
            <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search..." autofocus>
                </form>
            </div>    
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>      
        </div>

    </nav>
    {%- if page.submenu -%}
        <div class="uk-alert-primary">
            <ul class="uk-subnav uk-subnav-pill uk-flex-center" uk-margin>
                {%- for p in sort_pages -%}
                    {% if p.cat == page.cat and p.main != true %}
                        {% if p.url == page.url %}
                            <li class="uk-active">                        
                                <a>{{ p.title }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ p.url}}">{{ p.title }}</a> 
                            </li>    
                            {% endif %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </div>
    {% endif %}
</div>
{% comment %}    

    {%- if page.submenu -%}
        <nav id="sub">
            <ul class="uk-subnav uk-subnav-divider uk-subnav-pill" uk-margin>
                {%- for p in sort_pages -%}
                    {% if p.cat == page.cat and p.main != true %}
                        {% if p.url == page.url %}
                            <li class="uk-active">                        
                                <a>{{ p.title }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ p.url}}">{{ p.title }}</a> 
                            </li>    
                            {% endif %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </nav>
    {% endif %}


{% endcomment %}