<nav>
    <ul>
        {% assign sort_pages = site.pages | sort: "sortid" %}
        {%- for p in sort_pages -%}
            {% if p.main %}
                <li>{{p.sortid}} <a href="{{ p.url}}">{{ p.title }}</a> </li>
            {% endif %}
        {%- endfor -%}
    </ul>
</nav>
<nav>
    <ul>
        {%- for p in sort_pages -%}
        {% if p.cat == page.cat %}
            <li>{{p.sortid}} <a href="{{ p.url}}">{{ p.title }}</a> </li>
        {% endif %}
        {%- endfor -%}
    </ul>
</nav>