{% assign sort_pages = site.pages | sort: "sortid" %}
<ul class="uk-breadcrumb">
    
    <li>
        <a href="/">Home</a>
    </li>    
    {%- for p in sort_pages -%}
        {% if page.cat == 0 or ( p.main and page.cat == p.cat and page.url != p.url ) %}
            <li>
                <!--  {{ page.cat }} / {{ p.main }} / {{ page.main }} -->
                <a href="{{ p.url}}">{{ p.title }}</a>
            </li>
        {% enif %}        
    {%- endfor -%}
        
    {%- for p in sort_pages -%}
        {% if p.url == page.url  and page.cat != 0 %}            
            <li>                        
                <span>{{ p.title }}</span>
            </li>     
        {% endif %}
    {%- endfor -%} 

</ul>