<!DOCTYPE html>
<!-- uni layout -->
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="/v2.css">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include menu.html %}
    <div id="main-space">
        {{ content }}
    </div>
    <div id="callback">
        Для получения достоверной информации, Вам необходимо профессионально обследовать ваш объект.<br>
        Свяжитесь с нами!
    </div>
    <hr>
    {{ site.time }}       
</body>
</html>