<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/uikit.min.css?{{site.time | date: '%s' }}" />
    <link rel="stylesheet" href="/css/add.css?{{site.time | date: '%s' }}" />
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <!-- uni layout -->
    {% include menu.html %}    
    

    <main class="uk-container">
        {% if page.cat < 3 %}
            <img src="/img/toplogo/{{ page.sortid }}.jpg" class="uk-align-left">
        {% endif %}
        <article class="uk-article">
                {% if page.cat != 0 %}
                    <h1 class="uk-article-title">{{ page.title }}</h1>
                {% endif %}
                {{ content }}
        </article>
        {% if page.cat %}
            <hr class="uk-margin-medium"/>            
            <div class="uk-animation-toggle" tabindex="0">
                <div class="uk-height-small uk-text-middle uk-card uk-background-primary uk-align-center uk-box-shadow-medium uk-animation-shake uk-text-center">
                        <span uk-icon="warning"></span> Для получения достоверной информации, необходимо профессионально обследовать ваш объект.<br>   Свяжитесь с нами!
                </div>
            </div>
        {% endif %}
    </main>
    {{ site.time }}
    {% include footer.html %}   
</body>
</html>
