<!DOCTYPE html>
<!-- uni layout -->
<html>
<head>
    <link rel="stylesheet" href="css/uikit.min.css?{{site.time | date: '%s' }}" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include menu.html %}
    {% include uk-breadcrumb.html %}
    <div id="top-logo">
        <img src="/img/toplogo/{{ page.sortid }}.jpg" class="uk-align-left">
    </div>
    <main class="uk-container">
            <article class="uk-article">
                    <h1 class="uk-article-title">{{ page.title }}</h1>
                    {{ content }}
            </article>        
        <div class="uk-animation-toggle" tabindex="0">
            <div class="uk-background-primary uk-align-center uk-box-shadow-medium uk-animation-shake uk-text-center">
                Для получения достоверной информации, Вам необходимо профессионально обследовать ваш объект.<br>   Свяжитесь с нами!
            </div>
        </div>
    </main>
    {{ site.time }}
    {% include footer.html %}   
</body>
</html>